*{
    margin: 0;
    padding: 0;
}
.sky{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url(background.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
}
.trees{
    height: 100vh;
    width: 100%;
    background-image: url(trees.png);
    background-size: cover;
    position: absolute;
}
.track{
    height: 60vh;
    width:800vw;
    background-image: url(track.png);
    background-size: cover;
    background-repeat: repeat-x;
    position: absolute;
    top: 80vh;
    animation: carmove linear 6s infinite;
} 
.car{
    height: 100px;
    width: 380px;
    background-image: url(car_body.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;                    
    top: 75vh;
    left: 200px;
    animation: shake linear 3s infinite4;
   
}
.wheel1{
    width: 77px;
    height: 10px;
    position: relative;
    top: 34px;
    left: 3px;
}
.wheel1 img{
    width: 58px;
    height: 64px;
    position: relative;
    top: 12px;
    left: 50px;
    animation: wheelrotation linear .6s infinite;
}
.wheel2{
    width: 77px;
    position: relative;
    top: 100px;
    left: 33px;
}
.wheel2 img{
    width: 68px;
    height: 64px;
    position: relative;
    top: -63px;
    left: 206px;
    animation: wheelrotation linear .6s infinite;
}
@keyframes carmove{
    100%{
        transform: translateX(-500vw);
    }
}
@keyframes wheelrotation{
    100%{
        transform: rotate(360deg);
    }
}
@keyframes shake{
    0%{
        transform: translateX(-5px);
    }
    50%{
        transform: translateY(5px);
       
    }
    100%{
        transform: translateZ(5px);
    }
}

